<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	   id="textual_proposals"
	   name="Text Proposals">
		<proposalCategory icon="icons/aix_log.png"/>
	</extension>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	   id="WordCompletionProposalComputer"
	   name="Word Completion Proposal Computer">
	   <javaCompletionProposalComputer
	  class="com.aixcoder.extension.AiXProposalComputer"
	  activate="true"
	  categoryId="org.eclipse.ui.texteditor.textual_proposals">
		</javaCompletionProposalComputer>
	</extension>
</plugin>
