<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	   id="textual_proposals"
	   name="Text Proposals">
		<proposalCategory icon="icons/aix_log.png"/>
	</extension>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
	   id="WordCompletionProposalComputer"
	   name="aiXcoder smart completion">
	   <javaCompletionProposalComputer
	  class="com.aixcoder.extension.AiXProposalComputer"
	  activate="true"
	  categoryId="org.eclipse.ui.texteditor.textual_proposals">
		</javaCompletionProposalComputer>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.aixcoder.extension.AiXPreferencePage"
          id="aixcoder.preferencepage"
          name="AiXcoder Preferences">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.aixcoder.extension.AiXPreInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="aiXcoder"
          name="aiXcoder">
    </category>
    <view
          category="aiXcoder"
          class="com.aixcoder.extension.WebView"
          icon="icons/aix_log.png"
          id="com.aixcoder.extension.WebView"
          inject="true"
          name="aiXcoder Search View">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="com.aixcoder.extension.WebView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.ContentOutline">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="aiXcoder.commands.category"
          name="aiXcoder">
    </category>
    <command
          categoryId="aiXcoder.commands.category"
          id="aiXcoder.commands.searchCommand"
          name="aiXcoder Search">
    </command>
    <command
          categoryId="aiXcoder.commands.category"
          id="aiXcoder.commands.lintCommand"
          name="aiXcoder Lint">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.aixcoder.extension.SearchHandler"
          commandId="aiXcoder.commands.searchCommand">
    </handler>
    <handler
          class="com.aixcoder.lint.LintHandler"
          commandId="aiXcoder.commands.lintCommand">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
          <command
                commandId="aiXcoder.commands.searchCommand"
                icon="icons/aix_log.png"
                id="aiXcoder.popup.searchCommand">
				<visibleWhen>
       <with variable="selection">
          <instanceof value="org.eclipse.jface.text.ITextSelection"/>
       </with>
    </visibleWhen>
          </command>
          <command
                commandId="aiXcoder.commands.lintCommand"
                icon="icons/lint.png"
                id="aiXcoder.popup.lintCommand">
          </command>
    </menuContribution>
 </extension>
</plugin>
